
Chapter 2 - From Behavior to Data/.Rhistory

Chapter 7 - Experimental design 1 - the basics/.ipynb_checkpoints/ch07-checkpoint.ipynb

Chapter 10 - Introduction to Moderation/.Rhistory

Chapter 3 - Building Causal Diagrams From Scratch/.Rhistory

Chapter 6 - Measuring uncertainty with the Bootstrap/chap 6 - main script - R  notebook.nb.html

Chapter 7 - Experimental design 1 - the basics/chap 7 - analyzing data - R  notebook.nb.html

*.html

Chapter 6 - Measuring uncertainty with the Bootstrap/.Rhistory

Chapter 9 - Experimental design 3 - cluster randomization and hierarchical modeling/.Rhistory

Chapter 11 - Mediation and Instrumental Variables/.Rhistory

Chapter 5 - Handling missing data/.Rhistory

Chapter 9 - Experimental design 3 - cluster randomization and hierarchical modeling/.ipynb_checkpoints/ch09-checkpoint.ipynb

Chapter 1 - The Behavioral Data Analysis Difference/.Rhistory

Chapter 4 - Building Causal Diagrams From Scratch/.Rhistory

Chapter 11 - Introduction to Moderation/.ipynb_checkpoints/ch11-checkpoint.ipynb

Chapter 7 - Measuring uncertainty with the Bootstrap/.ipynb_checkpoints/ch07-checkpoint.ipynb

Chapter 9 - Experimental design 2 - stratified randomization/.ipynb_checkpoints/ch09-checkpoint.ipynb

Chapter 10 - Experimental design 3 - cluster randomization and hierarchical modeling/.ipynb_checkpoints/ch10-checkpoint.ipynb

*.png

Chapter 1 - The Behavioral Data Analysis Difference/.ipynb_checkpoints/ch01-checkpoint.ipynb

Chapter 6 - Handling missing data/.ipynb_checkpoints/ch06-checkpoint.ipynb

Chapter 6 - Handling missing data/.Rhistory

*.docx

Chapter 7 - Measuring uncertainty with the Bootstrap/Bootstrap_toy_example.Rmd

Chapter 12 - Mediation and Instrumental Variables/.ipynb_checkpoints/ch12-checkpoint.ipynb

Chapter 12 - Mediation and Instrumental Variables/.Rhistory

Chapter 1 - The causal-behavioral framework for data analysis/.ipynb_checkpoints/ch01-checkpoint.ipynb

Chapter 8 - Experimental design 1 - the basics/.ipynb_checkpoints/ch08-checkpoint.ipynb

Chapter 1 - The causal-behavioral framework for data analysis/.Rhistory

Chapter 7 - Measuring uncertainty with the Bootstrap/.Rhistory

Solutions of exercises/.Rhistory

Chapter 8 - Experimental design 1 - the basics/.Rhistory

Exercises and solutions/.Rhistory

Chapter 10 - Experimental design 3 - cluster randomization and hierarchical modeling/.Rhistory

Exercises and solutions/.ipynb_checkpoints/

Chapter 10 - Cluster Randomization and Hierarchical Modeling/.ipynb_checkpoints/ch10-checkpoint.ipynb

Chapter 10 - Cluster Randomization and Hierarchical Modeling/.Rhistory

Chapter 8 - Experimental Design - the Basics/.ipynb_checkpoints/ch08-checkpoint.ipynb

Chapter 8 - Experimental Design - the Basics/.Rhistory

Chapter 9 - Stratified Randomization/.ipynb_checkpoints/ch09-checkpoint.ipynb

Chapter 9 - Stratified Randomization/.Rhistory

Chapter 4 - Building Causal Diagrams From Scratch/.ipynb_checkpoints/ch04-checkpoint.ipynb
