
Chapter 2 - From Behavior to Data/.Rhistory

Chapter 7 - Experimental design 1 - the basics/.ipynb_checkpoints/ch07-checkpoint.ipynb

Chapter 10 - Introduction to Moderation/.Rhistory

Chapter 3 - Building Causal Diagrams From Scratch/.Rhistory

Chapter 6 - Measuring uncertainty with the Bootstrap/chap 6 - main script - R  notebook.nb.html

Chapter 7 - Experimental design 1 - the basics/chap 7 - analyzing data - R  notebook.nb.html

*.html

Chapter 6 - Measuring uncertainty with the Bootstrap/.Rhistory

Chapter 9 - Experimental design 3 - cluster randomization and hierarchical modeling/.Rhistory
