
Chapter 2 - From Behavior to Data/.Rhistory

Chapter 7 - Experimental design 1 - the basics/.ipynb_checkpoints/ch07-checkpoint.ipynb

Chapter 10 - Introduction to Moderation/.Rhistory

Chapter 3 - Building Causal Diagrams From Scratch/.Rhistory
